priority -1000
snippet ( "brackets" A
($1)$0
endsnippet

priority -1000
snippet S( "square brackets" A
[$1]$0
endsnippet

priority -1000
snippet C( "curly brackets" A
{$1}$0
endsnippet

priority -1000
snippet " "quotes" A
"$1"$0
endsnippet
